@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-weight: 200;
}
p{
    z-index: 1;
}

.bg-hero{
   
    height: 100vh;
    background: url("https://img.fotocommunity.com/duesseldorf-skyline-5bd45ca2-8024-4031-8fd7-aec8fd875093.jpg?height=1080") center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.bg-hero::before{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(255, 255, 255, 0.589);
    z-index: 0;
  }

#welcome{
    font-size: 3rem;
    z-index: 1;
}

#subtitle{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}
.feature-grid{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr;
    background: #E8E9ED;
}
.color-grid{
    background: rgb(97, 37, 37);
    color: white;
}
.grid-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-info{
    font-size: 5rem;
}

.weather-small{
    display: flex;
}
.weather-small p{
    margin-left: 5px;
}

.countdown-small{
    display: flex;
}
.countdown-small p{
    margin-left: 50px;
    margin-right: 30px;
}

#get-joke{
    margin-top: 1rem;
    border: 1px solid rgb(97, 37, 37);
    color: rgb(97, 37, 37);
    font-size: 1rem;
    padding: .5rem .25rem;
    cursor: pointer;
}

#setup{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1em;
    width: 80%;
}

#punchline{
    color: rgb(97, 37, 37);
    font-weight: 400;
    font-size: 1.2rem;
}

.footer{
    height: 200px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 768px){
    #subtitle{
        width: 90%;
    }
    .feature-grid{
        grid-template-rows: repeat(4, 400px);
        grid-template-columns: 100vw;
    }
    .main-info{
        font-size: 4rem;
    }
    .grid-child{
        text-align: center;
    }
    .weather-small{
        flex-direction: column;
    }
    .countdown-small p{
        margin-left: 10px;
        margin-right: 0px;
    }
    #countdown{
        font-size: 3rem;
    }
    #setup{
        width: 90%;
    }
    #time-grid{
        grid-area: 1/1/2/2;
    }
}